<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-white font-sans">

    <div class="container mx-auto px-4 py-8">
        <h1 class="text-2xl font-semibold mb-4">Change Password</h1>

        <form action="/changepassword" method="POST" class="max-w-md">
            <div class="mb-4">
                <label for="Password" class="block text-gray-700 font-semibold mb-2">Current Password</label>
                <input type="password" id="Password" name="Password" required
                    class="border border-gray-300 rounded-md px-4 py-2 w-full focus:outline-none focus:border-blue-500">
            </div>

            <div class="mb-4">
                <label for="newpassword" class="block text-gray-700 font-semibold mb-2">New Password</label>
                <input type="password" id="newpassword" name="newpassword" required
                    class="border border-gray-300 rounded-md px-4 py-2 w-full focus:outline-none focus:border-blue-500">
            </div>

            <button type="submit"
                class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md">Change
                Password</button>
        </form>
    </div>

</body>

</html>