<!DOCTYPE html>
<html lang="en">
<head>
    <title>Next Move</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

    <div class="container mx-auto py-8 px-4">
        <h2 class="text-3xl text-gray-900 font-semibold mb-4">Create New Course</h2>
        <form action="/course" method="post" class="max-w-md mx-auto">
            <div class="mb-4">
                <label for="courseName" class="block text-gray-700">What is the name of the course?</label>
                <input type="text" id="courseName" name="courseName" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div class="mt-4">
                <button type="submit" class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">Submit</button>
            </div>
        </form>
    </div>

</body>
</html>
